
<div class="blog-nav-container">
  <div class="nav-list">
    <div class="nav-header">Previous Chapters</div>
    <div class="nav-item"><a class="blog-nav-link">Building A Cider House</a></div>
    <div class="nav-item"><a class="blog-nav-link">We Have A Website!</a></div>
    <div class="nav-item"><a class="blog-nav-link">This Is Another Post</a></div>
  </div>
</div>

<div class="blog-container">
  <div class="blogs-title">The Malus Cider Adventure</div>


<!-- this is a test article -->
  <div class="article">
    <div class="article-title">Let's Make A Toast!</div>
    <div class="article-text">Here’s to new beginnings, new memories, and our hearts desires… we cannot forget the best part GROWTH! Thank you for embarking on this journey with us and allowing us to be a part of your adventure as well, let us know what you think. Cheers!
    <div class="read-more"><a class="full-post-link">[full post]</a></div>
    </div>
  </div>
 <!-- end of test article -->


  <% @articles.each do |article| %>
    <div class="article">

      <!-- appears for everyone -->
      <div class="article-title"><a href= "/articles/ <%= article.id %>"<b> <%= article.title %></b></a></div>
      <div class="article-text"><%= article.text %></div>

      <!-- only for admins -->
      <% if current_user.try(:admin?) %>
        <div><%= link_to "delete", article_path(article), method: :delete,data: { confirm: "You sure?" } %> </div>
        <div><%= link_to 'Edit', edit_article_path(article) %></div>
      <% end %>

    </div>

  <% end %> <!-- end of listing loop -->

 <!-- only appears to admins -->
  <% if current_user.try(:admin?) %>
        <%= link_to 'New article', new_article_path %>
  <% end %>


  <div class="blog-account-links">
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        

    <%= link_to('Login', new_user_session_path)  %> 
  </div>  

</div>

