
<h1>Blog Entries</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>

      <!-- appears for everyone -->
      <td><a href= "/articles/ <%= article.id %>"<b> <%= article.title %></b></a></td>
      <td><%= article.text %></td>

      <!-- only for admins -->
      <% if current_user.try(:admin?) %>
        <td><%= link_to "delete", article_path(article), method: :delete,data: { confirm: "You sure?" } %> </td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <% end %>

    </tr>

  <% end %> <!-- end of listing loop -->

 <!-- only appears to admins -->
  <% if current_user.try(:admin?) %>
        <%= link_to 'New article', new_article_path %>
  <% end %>

</table>


  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        

  <%= link_to('Login', new_user_session_path)  %>  

