<!-- dynamic title-->
<% provide(:title, "Shopping") %>


<div class="store-container">
<div class="store-title">Order Malus Cider Online</div>
  <div class="items-container">
    <div class='item-row'>
      <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <span>ITEM 1</span>
            <span>Amount: $5.00</span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button store-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A month's subscription"
                data-amount="500"
                data-locale="auto"></script>
       
      <% end %>
    </div>

    <div class='item-row'>
      <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <span>ITEM 2</span>
            <span>Amount: $15.00</span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button store-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A month's subscription"
                data-amount="500"
                data-locale="auto"></script>
       
      <% end %>
    </div>
    <div class='item-row'>
      <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <span>ITEM 3</span>
            <span>Amount: $225.00</span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button store-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A month's subscription"
                data-amount="500"
                data-locale="auto"></script>
       
      <% end %>
    </div>

    <div class='item-row'>
      <%= form_tag charges_path do %>
        <article>
          <% if flash[:error].present? %>
            <div id="error_explanation">
              <p><%= flash[:error] %></p>
            </div>
          <% end %>
          <label class="amount">
            <span>ITEM 4</span>
            <span>Amount: $445.00</span>
          </label>
        </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button store-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="A month's subscription"
                data-amount="500"
                data-locale="auto"></script>
       
      <% end %>
    </div>

  </div>  <!-- row-->
</div> <!--container-->