<!DOCTYPE html>
<html>
  <head>
    
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application.scss.css" %>
    <script src="https://js.stripe.com/v3/"></script>
 	  <title><%= yield(:title) %> | Malus Cider</title>
   
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Oswald:700" rel="stylesheet">
  	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
